
/*===========================*/
$mainColor:  rgb(7, 168, 143);
$secondColor:#ffffff;
$inputColor:rgba(239, 237, 237, 0.902);
$colorfontOsomes:rgb(185, 185, 186);
$colorTitle:rgb(36, 198, 173);
$fontColor:rgb(49, 46, 46);
/*============================*/